lesson_17/.env
.vscode
.venv
project_5/data/Project5_train_data.zip
project_5/data/osrm_data_train.zip
math&ml_14/data/dst-3.0_mathml_14_5_rating.csv
pda_01/.env
pda_01/data/Otvety.txt
pda_01/data/prepared_answers.txt
pda_01/prepared_answers.txt
pda_01/index_map.json
pda_01/index_map.pkl
pda_01/model.pkl
pda_01/product_index_map.json
pda_01/product_index_map.pkl
pda_01/product.ann
pda_01/speaker.ann
pda_01/log_model.pkl
pda_01/w2v_model
pda_01/w2v_model.syn1neg.npy
pda_01/w2v_model.wv.vectors.npy
pda_01/data/for_model.csv
pda_01/data/ProductsDataset.csv
pda_01/data/vector_products.csv
pda_02/data/train.zip
